REVOKE ALL ON SCHEMA public FROM public;
GRANT USAGE ON SCHEMA public TO public;
GRANT CONNECT ON DATABASE "{{ access.database }}" TO "{{ access.user }}";
GRANT USAGE ON SCHEMA PUBLIC TO "{{ access.user }}";
GRANT SELECT ON ALL TABLES IN SCHEMA PUBLIC TO "{{ access.user }}";
GRANT SELECT ON ALL SEQUENCES IN SCHEMA PUBLIC TO "{{ access.user }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA PUBLIC GRANT SELECT ON TABLES TO "{{ access.user }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA PUBLIC GRANT SELECT ON SEQUENCES TO "{{ access.user }}";
